# Konfiguracja bazy danych
DB_HOST=db
DB_NAME=pbf
DB_USER=root
DB_PASS=secret

# Konfiguracja SMTP (Mailtrap)
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=twój_username_z_mailtrap
SMTP_PASS=twoje_hasło_z_mailtrap
SMTP_FROM_EMAIL=noreply@pbf.local
SMTP_FROM_NAME=PBF System

# Konfiguracja aplikacji
APP_URL=http://localhost:8000
APP_NAME=PBF System ZPP2
